.link {
    font-size: 32px;
}

.link .icon{
    font-family: 'Benne', serif;
}

.link .text{
    font-family: 'Princess Sofia', serif;
}

.menu{
    width:40vw;
    margin: auto;
    background-color: rgb(244,255,241);
    border: rgb(244,255,241) 50px;
    border-radius: 10px;
    padding:20px;
}
