<div th:fragment="navbar" class="navbar">
    <p><a href="/">
    Hogwarts School of Witchcraft and Wizardry
    </a>
    </p>
</div>
<div th:fragment="fonts" th:remove="tag">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Benne&text=%E2%98%9E" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Benne&family=Alice&family=Cinzel&family=Mountains+of+Christmas:wght@700&family=Princess+Sofia&display=swap" rel="stylesheet">
</div>
